
.highlight {
  background-color: yellow;
}

.column {
  float: left;
  width: 20%;
  margin: 20px;
  border: 10px coral solid;
  box-sizing: border-box;

}
.sidebar {
  float: right;
  width: 30%;
  border: 12px solid rgba(99, 99, 242, 0.596) ;
  padding: 10px;
  margin: 10px;
} 

